# Secrets
*.pem
*.key
flask_secret.txt
secrets/

# Python
__pycache__/
*.py[cod]
venv/
.env

# Flask
instance/
.webassets-cache

# Database
*.sqlite
*.db

# OS
.DS_Store
Thumbs.db

# Temporary files
tmp/
