<!DOCTYPE html>
<html>

<head>
    <title>Logowanie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <h1>Logowanie</h1>

    <form method="POST">
        {{ form.hidden_tag() }}

        <div>
            {{ form.username.label }}: {{ form.username(size=30) }}
            {% for error in form.username.errors %}
            <span class="error-msg">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div>
            {{ form.password.label }}: {{ form.password(size=30) }}
            {% for error in form.password.errors %}
            <span class="error-msg">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div>
            {{ form.totp_code.label }}: {{ form.totp_code(size=30, placeholder="Np. 123456") }}
            {% for error in form.totp_code.errors %}
            <span class="error-msg">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div>{{ form.submit() }}</div>
    </form>

    <p>Nie masz konta? <a href="{{ url_for('register') }}">Zarejestruj się</a></p>
</body>

</html>